# Local environment configuration (containing Personal Access Tokens)
.env

# Local emulation database
local_db.json

# Python compilation cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db
